html {
  box-sizing: border-box;
  margin: 0;
  background-color: #def3f2;
}

.card-parrent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3em;
  padding: 0.5em;
  gap: 0.5em;
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 1em;
  max-width: 15em;
  box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
